*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.container .slide.slide1{
background: url(./3394.jpg);
background-attachment: fixed;
background-position: center;
background-size: cover;
}

.container .slide.slide2{
    background: url(./le-noir-est-ma-couleur-tome-2-la-menace-1058114-264-432.jpg);
    background-attachment: fixed;
    background-position: center;
    left: 50%;
    background-size: cover;
    }